.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.wrapper_theme_dark {
  color: #f3f3f3;
  background-color: #1a1b1c;
}

.wrapper_theme_light {
  color: #333333;
  background-color: #edeff2;
}