body {
  font-family: 'Pt Sans Regular', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  overflow-y: scroll;
}

.theme_light {
  background-color: #edeff2;
}

.theme_dark {
  background-color: #1a1b1c;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 14px;
}

a {
  text-decoration: none;
}

p {
  margin: 16px 0;
}

.center-vertical {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@font-face {
  font-family: 'Pt Sans Regular';
  src: local('Pt Sans Regular');
  src: url('fonts/pt-sans-regular.woff2');
}

@font-face {
  font-family: 'Pt Sans Narrow';
  src: url('fonts/pt-sans-narrow-regular.woff2');
}

@font-face {
  font-family: 'Pt Serif Regular';
  src: url('fonts/pt-serif-regular.woff2');
}

@font-face {
  font-family: 'Pt Serif Bold';
  src: url('fonts/pt-serif-700.woff2');
}

@media (max-width: 766px) {
  .error-message {
    padding-top: 0;
  }

  .error-message__text {
    font-size: 1.5rem;
  }

  .error-message__img {
    width: 320px;
    height: 400px;
  }

  p {
    margin: 12px 0;
  }
}

@media (max-width: 470px) {
  p {
    margin: 8px 0;
  }
}
